/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

textarea {
	resize: vertical;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

:root{
    --color-orange:#F39C12;
    --color-blue:#2C3551;
    --color-white:#fff;
    --color-grey:#A7ADBD;
    --color-darkgrey:#686868;
}
body{
    font-family: 'Roboto Condensed', sans-serif; 
}

section{
    height: 100vh;
    width: 100%;
    background-image: url(/img/bg.png);
    background-size: cover;
}
#banner{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 14px 21px;
}
h1{
    
    font-weight: 700;
    font-style: normal;
    font-size: 10vw;
    text-transform: uppercase;
    text-align: left;
    color: var(--color-blue);
}
#banner p {
    color: var(--color-white);
}